.Estate_details {
    min-width: 70%;
    
  }
  .Estate_details h1 {
    font-size: 25px;
    margin-left: 180px;
  }
  .Estate_txt{
    margin: 1;
    width: 45ch;

  }
  .Estate_details__input {
    display: flex;
    margin: 15px;
  }
  .Estate_details__input p {
    margin: 10px;
    margin-left: 70px;
    font-size: 17px;
    font-weight: 400;
    width: 20%;
  }
  .res_component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 13px;
    padding: 0px 35px;
   
  }
  .img_delete{
    height: 100px;
    margin-left: 100px;
  }
  .form_frame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 35px;
    margin: 15px;
    background-color: #f5f5f5;
  }
  